.link {
  text-decoration: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
  background-color: rgb(81, 218, 81);
  display: inline-block;
  border-radius: 5px;
  padding: 5px 10px;
}
.link:hover {
  background-color: lightgreen;
}
.nav {
  display: flex;
  gap: 10px;
  padding: 5px 0;
}
